$color-warning: #ffc107;
$size: 4px;
$bg-warning: #fff5d6;
$color-success: #28a745;
$bg-success: #d8ffe2;
$color-error: #ff4a72;
$bg-error: #fee5eb;
$color-white: #fff;
$bg: #f5f5f5;
$color-default: #5f5f5f;
$color-bd-active: #608ca9;
$color-border: #ddd;
$color-primary: #2f4858;
$color-pink-secondary: #ffbecd;
$border-color: #c2c2c2;
$font: "Montserrat", Arial, Helvetica, sans-serif !important;

@mixin flex($display, $justify-content, $align-items) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
