.main {
  position: sticky;
  top: 0;
  z-index: 1;

  &__action {
    z-index: 1;
    flex: 1;
    position: sticky;
    top: 0px;
    height: 56px;
    background: $color-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid #7070;
    @include flex(flex, space-between, center);
    padding: 0 24px;

    .block-create {
      a {
        padding: 0 8px;
        border-radius: 4px;
        height: 30px;
        border: 1px solid #bdbdbd;
        color: $color-default;
        @include flex(flex, space-between, center);

        &:hover {
          color: $color-default;
        }

        img {
          width: 20px;
          margin-right: 8px;
        }
      }
    }
  }
}
